.info ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

li.info-cell {
    display: table;
    width: 100%;
    margin-top: 5px;
}

li.info-cell * {
    display: table-cell;
    line-height: 30px;
}
li.info-cell span {
    width: 65%;
}

li.info-cell p {
	width: 35%;
    font-weight: bold;
}
div#error-pass {
    text-align: center;
}